@{ 
    Layout = null;
}

<style>
    .nb-footer {
        position: absolute;
        width:100%;
    }
</style>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' />
<link href="~/Content/StyleFooter.css" rel="stylesheet" />

    <footer class="nb-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about">
                    <img src="images/logo.png" class="img-responsive center-block" alt="">
                    <p style="color:#B8860B">yunus.unver1995@@gmail.com</p>
                    <div class="social-media">
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/S.Muneez" title="" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://github.com/yunusunver" title="" target="_blank"><i class="fa fa-github"></i></a></li>
                            <li><a href="https://plus.google.com/u/0/117638671457014999781" title="" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/yunusunver/" title="" target="_blank"><i class="fa fa-linkedin"></i></a></li>


                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p style="text-align:center;margin-top:10px">Copyright © 2017. Yunus Ünver</p>
                </div>

            </div>
        </div>
    </section>
        </footer>

